$primary-color: saddlebrown;
$dark-primary-color: #563111;
$light-primary-color: orange;
$m-light-grey: #e8e8e8;
$side-width: 100px;
$sign-in-panel-color: #eeeeee;

div,img,a,span, strong, small, h3,p, select {
  //border: 1px solid red;
}
