@import "base";
html {
  height: 100%;
  body {
    height: 100%;
    min-height: 100%;
  }
}

#main_content {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 50px;

  #left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    #tracking{
      align-self: flex-end;
      font-style: italic;
      color: white;
      background-color: saddlebrown;
      border: 0px;
    }

    #content {
      display: flex;
      flex-direction: row;

      #detail-wrap{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
      }

      #detail{
        max-width: 800px;
        padding-left: 50px;
        padding-right: 20px;

        margin: auto;

        .item{
          margin-top: 15px;
        }

        #title{
          flex-shrink: 0;
          display: flex;
          flex-direction: row;

          #title-thumb {
            flex-shrink: 0;
            margin-right: 15px;
            margin-left: 15px;
            img{
              width: 40px;
            }
          }

          h3{
            margin:0;
          }

          p{
            font-style: italic;
            color: $primary-color
          }
        }

        #tables{
          flex-shrink: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          div{
            border: 1px solid $primary-color;
            flex-grow: 1;
            text-align: center;
            padding: 10px 10px;
            p{
              text-align: left;
            }
          }
        }

        .review{
          flex-shrink: 0;

          display: flex;
          flex-direction: row;

          img{
            width:40px;
            height: 40px;
            clip-path: circle(20px at center);
          }

          p{
            padding-left: 10px;
            flex-grow: 1;
          }
        }

        #gallery{
          flex-shrink: 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .product {
            display: flex;
            flex-direction: row;
            width: 260px;
            padding: 10px;

            img {
              width: 28px;
            }

            .product-description {
              display: flex;
              flex-direction: column;
              flex-grow: 1;
              justify-content: flex-start;
              text-align: left;
              padding-left: 5px;
              padding-right: 5px;

              .short-intro {
                margin-bottom: auto;
                color: grey;
                font-style: italic;
              }

              .price {
                align-self: flex-end;
                color: brown;
              }

              .operation {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-size: small;

                .like-button {
                  color: deeppink;
                }

                .buy-button {
                  color: $light-primary-color;
                }

                .mglyphicon.add-to-cart {
                  background: url("../images/add-shopping-cart.png");
                  background-size: 10px;
                  background-repeat: no-repeat;
                  background-position: 0% center;
                  color: green;
                }

              }
            }
          }
        }
      }

      #operation{
        flex-shrink: 0;

        display: flex;
        flex-direction: column;

        margin-left: auto;

        width: 120px;
        padding-right: 20px;

        font-size: small;

        #pricetag{
          display: flex;
          flex-direction: row;

          #price{
            margin-left: 5px;
            color: red;
          }
        }

        #op-count{
          display: flex;
          flex-direction: row;
          align-items: center;

          p{
            margin:0;
          }

          select{
            margin-left: 5px;
            width:50px;
            height: 20px;
          }
        }

        .btn{
          padding: 0;
          height: 30px;
          margin-top: 10px;
          color: $dark-primary-color;
          :hover{
            color: $dark-primary-color;
          }
          font-size: small;
        }

        .btn-add{
          border: 1px solid $primary-color;
        }
      }
    }
  }

}


